html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
}

svg#screen {
    display: block;
    width: 100%;
    height:100%;
}

.outer-container {
    display: flex; 
    flex-direction: row;
    align-content: stretch; 
    justify-content: stretch;
    padding: 1em;
}

.inner-container {
    display: flex; 
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 2;
}

.slider-container {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
    padding: 0.5rem;
}

.my-slider {
    flex: 3;
}

.pass-through {
    padding:0;
    margin:0;
    width:100%;
    height:100%;
    display: contents;
}

#container {
    flex: 10;
    flex-grow: 10;
    display: inline-flex;
}